<nav>
    <div class="row">
        <div class="col-1_2">
            <a href="{{`/` | relURL}}">
                <h1>{{.Site.Title}}</h1>
            </a>
        </div>
        <div class="col-1_2">
            <form class="search" action="/search" method="GET">
                <input class="f-fit" id="search" type="search" placeholder='{{ i18n "search" }}' aria-label='{{ i18n "search" }}'>
            </form>
        </div>
    </div>
    <div class="row">{{partial "header-menu.html" .}}</div>
    {{partial "search.html" .}}
</nav>