<nav>
    <div class="row">
        <div class="col-1_2">
            <a href="{{`/` | relURL}}">
                <h1>{{.Site.Title}}</h1>
            </a>
        </div>
        <div class="col-1_2">
            <form class="search">
                <input class="f-fit" type="search" placeholder='{{ i18n "search" }}' aria-label='{{ i18n "search" }}'>
                <button type="submit">{{ i18n "search" }}</button>
            </form>
        </div>
    </div>
    <div class="row">{{partial "header-menu.html" .}}</div>
</nav>